{% extends 'discover/navbar.html' %}
{% block content %}

<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Contact </h1>
      <p class="fs-5 text-muted">
        If you have any feedback or wish to reach out, you can do so through:
      </p>
    </div>
  </header>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Github</h4>
        </div>
        <div class="card-body">
          <a href="https://github.com/ytia001" class="w-100 btn btn-lg btn-outline-primary my-1" role="button">Link</a>
        </div>      
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Email</h4>
        </div>
        <div class="card-body">
          <a href="#" class="w-100 btn btn-lg btn-outline-primary my-1" role="button">yiken36@gmail.com</a>
        </div>    
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Linkedln</h4>
        </div>
        <div class="card-body">
          <a href="https://www.linkedin.com/in/yktia" class="w-100 btn btn-lg btn-outline-primary my-1" role="button">
            Link
          </a>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-bottom:100px;"></div>
  

{% endblock%}

