{% extends 'discover/navbar.html' %}
{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light" style="margin-bottom: 20px;">You currently have: <span style="color: green; font-weight: bold;">XX points</span></h1>
          <p class="lead text-muted">Discover the joy of reading. Dive into new worlds, meet intriguing characters, and broaden your horizons.</p>
          <p class="lead text-muted" style="margin-bottom: 20px;">As Marcel Proust said, 'The real voyage of discovery consists not in seeking new landscapes, but in having new eyes.' Open a book and see with fresh eyes today.</p>
      </div>
   </div>  
  </section>

  <h1 class="text-center text-decoration-underline"> Rewards </h1>
  
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text text-center">Bookmark</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group w-100">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Redeem (50 points)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text text-center">Book cover</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group w-100">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Redeem (100 points)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text text-center"> Bookshop Coupon</p>
              <div class="btn-group w-100">
                <button type="button" class="btn btn-sm btn-outline-secondary">Redeem (250 points)</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text text-center">Bookshelf</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group w-100">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Redeem (500 points)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text text-center"> Vacuum Cleaner </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group w-100">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Redeem (5000 points)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text text-center"> A Trip to Belize</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group w-100">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Redeem (10000 points)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-bottom:100px;"></div>
  

{% endblock%}

